body {
    background-color: #e5e5e5;
    text-align: center;
}

#game {
    
    position: relative;   
    width: 60vw;
    height: 90vh;
    outline: 1px solid black;
    margin: 5vh auto;
    background-color: #bbb;
}

.car{
    position: absolute;
    background-color: orange;
    
}

.obstacle{
    position: absolute;
    background-color: purple;
    transition: all 1s linear;
}